@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  .nav-link-custom {
    @apply py-1 text-[18px] px-2 transition duration-500;
  }

  .nav-link-custom:hover,
  .nav-link-custom .active {
    @apply border-b-4 border-t-[0.5px] border-t-yellow-500 border-b-yellow-700 text-yellow-600;
  }
}
.nav-container {
  @apply absolute left-[10%] top-10  w-4/5 h-20 mx-auto
    shadow-lg py-2 px-10 rounded  bg-yellow-50 flex justify-between items-center;
}

.hero-image {
  background-image: url('/images/spiral.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  overflow: hidden;
}

.footer-social-icon {
  @apply text-3xl text-slate-300 hover:text-yellow-700 hover:border-2 border-yellow-600 rounded-full p-1 cursor-pointer;
}

.enquiry-input {
  @apply p-2 border-2 border-yellow-600 rounded-md focus:outline-none focus:border-slate-400 bg-slate-100 text-slate-800;
}
