@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mochiy Pop P One', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Poppins', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  .nav-link-custom {
    @apply py-1 text-[18px] px-2 transition duration-500;
  }

  .nav-link-custom:hover,
  .nav-link-custom .active {
    @apply border-b-4 border-t-[0.5px] border-t-yellow-500 border-b-yellow-700 text-yellow-600;
  }

  .nav-container {
    @apply absolute left-[10%] top-10  w-4/5 h-20 mx-auto
      shadow-lg py-2 px-10 rounded  bg-yellow-50 flex justify-between items-center z-10;
  }

  .footer-social-icon {
    @apply text-3xl text-slate-300 hover:text-yellow-700 hover:border-2 border-yellow-600 rounded-full p-1 cursor-pointer;
  }

  .enquiry-input {
    @apply p-2 border-2 border-yellow-600 rounded-md focus:outline-none focus:border-slate-400 bg-slate-100 text-slate-800;
  }

  .login-card {
    @apply flex w-[70vw] min-h-[500px] border-[0.5px] border-gray-200  gap-3 shadow-2xl
      rounded-lg overflow-hidden;
  }

  .login-form {
    @apply flex flex-col gap-3 w-[60vw] md:w-[20vw];
  }

  .btn-submit {
    @apply bg-yellow-600 text-white p-2 rounded cursor-pointer hover:bg-yellow-700;
  }

  .btn-link {
    @apply text-yellow-600 hover:text-yellow-700 cursor-pointer font-bold;
  }

  .social-icons {
    @apply flex gap-2 justify-center items-center pt-5;
  }
}

.hero-image {
  background-image: url('/images/spiral.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  overflow: hidden;
}

@font-face {
  font-family: 'digital';
  src: url('../../public/fonts/digital.ttf');
}

.time-display {
  font-family: digital, 'Courier New', Courier, monospace;
}

.testimonial {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  background-image: url('/images/4.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}

.testimonial-image {
  background-image: url('/images/2.svg');
  background-repeat: no-repeat;
  background-position: top left 60%;
  background-size: 150%;
}

.login-right {
  background-color: rgb(218, 164, 4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: url('/images/lamp.png');
  background-repeat: no-repeat;
  background-position: right 50% top 50%;
  background-size: 40%;
  overflow: hidden;
}

.form {
  width: 50%;
}

.form-group {
  width: 100%;
  position: relative;
  padding: 0;
}

.form-control {
  width: 100%;
  padding: 0.7rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgba(234, 179, 8, 0.7);
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(234, 179, 8, 0.7);
}

.form-control:-webkit-autofill {
  animation-name: onAutoFillStart;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control:not(:-webkit-autofill:focus) {
  animation-name: onAutoFillCancel;
}

@keyframes onAutoFillStart {
}

@keyframes onAutoFillCancel {
}

.form-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  font-size: 1rem;
  color: rgba(234, 179, 8, 0.7);
  transform: translateY(-50%);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  transform: translateY(-50%);
  pointer-events: none;
}

.move-top {
  top: 0;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  background-color: white;
  color: rgb(218, 164, 4);
}

.btn-social {
  background-color: transparent;
  color: rgba(234, 179, 8, 0.7);
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px #ccc;
}

.btn-social:hover {
  background-color: rgba(234, 179, 8, 0.7);
}

.social-icon {
  font-size: 1.5rem;
}

.facebook {
  color: #3b5998;
}

.github {
  color: #333;
}

.twitter {
  color: #1da1f2;
}
