.diamondCard {
  width: 27.5%;
  clip-path: polygon(
    30% 0,
    70% 0,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );

  shape-outside: polygon(
    30% 0,
    70% 0,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );

  height: 500px;
  margin: 1rem auto 1rem auto;
  padding: 0 2rem;
}

@media screen and (max-width: 768px) {
  .diamondCard {
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
